@charset "utf-8"; 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    width: 1340px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

#logo {
    align-content: center;
    width: 200px;
}

nav {
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 30;
}

#gnb>li {
    float: left;
}

#gnb>li>a {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #96dcd9;
    display: block;
    font-size: 20px;
    text-align: center;
    color: #666;
    font-weight: bold;
}

.lnb {
    display: none;
}

.lnb li a {
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #96dcd9;
    display: block;
    font-size: 16px;
    text-align: center;
    color: #666;
}

.lnb li:hover a {
    font-weight: bold;
    background-color: #fff;
}

#bg {
    position: absolute;
    width: 100%;
    height: 180px;
    background-color: #96dcd9;
    z-index: 20;
    display: none;
}

#slide {
    width: 100%;
    height: 350px;
}

#total {
position: relative;
width: calc(100% * 3);
height: 350px;
}

.photo {
position: relative;
width: calc(100% / 3);
height: 350px;
background-size: cover;
float: left;
}

#slide h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    font-size: 30px;
    background-color: #fff;
    width: 900px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
}

#wrap2 {
    width: 1340px;
    margin: 0 auto;
    position: relative;
    top: -100px;
}

#link {
    width: 1340px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#link a {
    display: flex;
}

#link p {
    align-content: center;
    color: #666;
    padding-left: 10px;
}

#link p:hover {
    font-weight: bold;
}

#banner {
    width: 1340px;
    height: 150px;
    background-color: #96dcd9;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 10px;
}

#bannerimg {
    width: 140px;
    height: 140px;
}

#banner div {
    text-align: center;
    align-content: center;
    line-height: 30px;
    color: #666;
}

#contents {
    width: 1340px;
    height: 300px;
    position: relative;
    display: flex;
}

#con1 {
    width: calc(100% / 2);
    height: 300px;
}

#con1 h3 {
    background-color: #96dcd9;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 400;
}


#con1 ul {
width: 550px;
height: 200px;
background-color: #96dcd9;
margin-left: 30px;
border-radius: 0px 10px 10px 10px;
position: relative;
}

#con1 ul li {
    line-height: 50px;
    padding-left: 20px;
    border-bottom: #333 solid 1px;
}

#con1 ul li:last-child {
    border-bottom: none;
}

#con1 ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#con1 span {
    position: absolute;
    right: 20px;
}

#con1 a {
    color: #333;
}

#con2 {
    width: calc(100% / 2);
    height: 300px;
}

#con2 h3 {
    background-color: #96dcd9;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 400;
}

#con2 ul {
    display: flex;
    width: 550px;
height: 200px;
background-color: #96dcd9;
margin-left: 30px;
border-radius: 0px 10px 10px 10px;
position: relative;
justify-content: center;
align-items: center;
}

#con2 li {
    padding: 10px;
}

#con2 img {
    width: 150px;
    height: 150px;
}

#con2 p {
    text-align: center;
}

footer {
    width: 1340px;
    height: 120px;
    background-color: #fff;
    display: flex;
}

#logo2 {
    width: 200px;
    height: 120px;
    align-content: center;
}

#footer2 {
    width: 1140px;
    height: 120px;
}

#fmenu {
    width: 100%;
    height: 60px;
}

#fmenu ul {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;

}

#fmenu a {
    color: #666;
    border-left: #666 1px solid;
    padding-left: 20px;
    padding-right: 20px;
}

#fmenu ul li:first-child a {
    border-left: none;
}


#copy {
    width: 100%;
    height: 60px;
}

#copy p {
 text-align: center;
 height: 60px;
 padding-top: 20px;
 color: #666;
}

#modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#modal div {
    width: 600px;
    height: 500px;
    background-color: #f04467;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

#modal h1 {
    position: absolute;
    top: 30px;
    left: 100px;

}

#modal p {
    position: absolute;
    top: 100px;
    text-align: center;
    left: 35px;
    line-height: 48px;
    font-size: 20px;
    
}

button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}